body {
  font-family: Arial, sans-serif;
  background: url("../Imagenes/Fondo_de_pantalla.png") no-repeat center center fixed;
  background-size: cover;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #111;
  padding: 70px;
  border-radius: 60 px;
  width: 450px;
  box-shadow: 0px 0px 25px rgba(13, 61, 194, 0.9);
  text-align: center;
}ccscs



*/msnskm

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #0584FC;
}

.form label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.form input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 60px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #0584FC;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

button:hover {
  background: #0260b5;
}

.extra {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: white;
}

.extra a {
  color: #0584FC;
  text-decoration: none;
}