:root{
    --bg:#000000;
    --card: #071226;
    --muted: #9CA3AF;
    --white: #FFFFFF;
    --primary: #0584FC;
    --primary-hover: #4E3FFC;
    --radius: 14px;
    --max-widht: 420px;
}

/* Reset básico */
*{box-sizing:border-box}
html,body{height:100%}

/* fondo y tipografía global */
body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:
    radial-gradient(1200px 400px at 10% 20%, rgba(5,132,252,0.08), transparent 8%),
    linear-gradient(90deg, rgba(2,6,23,1) 0%, rgba(6,10,20,1) 100%);
  color:var(--white);
  display:flex;
  align-items:center;
  justify-content:center;
  padding:32px;
}

/* tarjeta central */
.login-wrap{
  width:100%;
  max-width:var(--max-width);
  background: rgba(255,255,255,0.02);
  border-radius:var(--radius);
  padding:28px;
  box-shadow: 0 10px 30px rgba(2,6,23,0.7);
  border: 1px solid rgba(255,255,255,0.04);
}

/* logo centrado */
.logo{
  display:block;
  width:500px;
  margin:0 auto 12px;
}

/* título */
.title{
  text-align:center;
  font-weight:700;
  margin:6px 0 18px;
  font-size:28px;
  color:var(--white);
}

/* etiquetas de campo */
.login-form .label{
  display:block;
  margin:6px 0 6px;
  color:var(--muted);
  font-size:13px;
}

/* inputs */
input[type="email"],
input[type="password"]{
  width:100%;
  padding:12px 14px;
  border-radius:10px;
  border:1px solid rgba(255,255,255,0.06);
  background: rgba(0,0,0,0.4);
  color:var(--white);
  font-size:15px;
  margin-bottom:8px;
}

input::placeholder{ color: rgba(255,255,255,0.25) }

/* fila pequeña (recuérdame + link) */
.row.small{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:10px 0 14px;
  color:var(--muted);
  font-size:13px;
}

.link{ color: var(--primary); text-decoration:none; }
.link:hover{ text-decoration:underline; }

/* botones */
.btn{
  display:inline-block;
  width:100%;
  padding:12px;
  border-radius:10px;
  border: none;
  cursor:pointer;
  font-weight:600;
}
.primary{
  background:var(--primary);
  color:var(--white);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.18);
}
.primary:hover{ background:var(--primary-hover) }

/* texto pequeño y centrado */
.small{ font-size:13px; color:var(--muted) }
.center{ text-align:center }

/* enfoque para accesibilidad (tab) */
input:focus, button:focus{
  outline: 3px solid rgba(5,132,252,0.18);
  outline-offset:2px;
  border-color:var(--primary);
}

/* responsive básico */
@media (max-width:480px){
  .login-wrap{ padding:20px; margin:16px }
  .title{ font-size:22px }
}